* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0F172A;
}

.calculator {
    width: 300px;
    background: #1E293B;
    padding: 20px;
    border-radius: 20px;
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 12px;

    background: #020617 ;
    color: #ffffff;
    font-size: 28px;
    text-align: right;
    padding: 0 12px;

    box-shadow:
        inset 4px 4px 8px rgba(0,0,0,0.4),
        inset -4px -4px 8px rgba(255,255,255,0.05);
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: #334155;
    color: #F8FAFC ;

    box-shadow:
        5px 5px 10px rgba(0,0,0,0.4),
        -5px -5px 10px rgba(255,255,255,0.05);
}

button:active {
    box-shadow:
        inset 4px 4px 8px rgba(0,0,0,0.4),
        inset -4px -4px 8px rgba(255,255,255,0.05);
}

.operator {
    color: #38BDF8 ;
}

.action {
    color:#38BDF8 ;
}

.equal {
    grid-column: span 2;
    background: #22C55E ;
    color: #ffffff;
    font-weight: bold;
}
